<a href="https://colab.research.google.com/github/lovishdany/RL__NCU/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [ ]:
x = 3
print(type(x))

<class 'int'>

In [ ]:
t = True
f = False
print(t or f)
print(t != f)

True
True

In [ ]:
x = 5
y = 10
z = x + y
add = 'Addition of {} and {} = {}'.format(x, y, z)
print(add)

Addition of 5 and 10 = 15

In [6]:
xs = [3, 1, 2]
print(xs[-1])
xs.append('ok')
print(xs)

2
[3, 1, 2, 'ok']

In [8]:
nums = list(range(10))
print(nums)
print(nums[2:5])
nums[2:5] = [7, 30]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[0, 1, 7, 30, 5, 6, 7, 8, 9]

In [9]:
fruits = ['apple', 'banana', 'cherries']
for i in fruits:
  print(i)

apple
banana
cherries

In [10]:
fruits = ['apple', 'banana', 'cherries']
for idx, fruit in enumerate(fruits):
  print('#{}: {}'.format(idx + 1, fruit))

#1: apple
#2: banana
#3: cherries

In [11]:
num = list(range(1,11))
squares = []
for i in num:
  squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
#list comprehension
nums = list(range(5))
odd_squares = [i**2 for i in nums if i%2 != 0]
print(odd_squares)

[1, 9]

In [13]:
def sign(x):
  if x > 0:
    return "Positive"
  elif x < 0:
    return "Negative"
  else:
    return "Zero"

for i in [-1, 0, 1]:
  print(sign(i))

Negative
Zero
Positive